* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
}

.navbar-menu {
    display: flex;
    gap: 24px;
    list-style: none;
}

.navbar-menu a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.btn {
    width: 140px;
    height: 40px;
    background: #30b868;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.hero {
    background: url("./assets/hero-bg.png") no-repeat;
    background-size: contain;
    height: 850px;
    text-align: center;
    padding-top: 110px;
}

.hero-content h2 {
    font-size: 72px;
    line-height: 80px;
}
.hero-title-light { color: #fff; }
.hero-title-accent { color: #30b868; }

.hero-text {
    color: #fff;
    max-width: 600px;
    margin: 32px auto;
}

.badge {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 12px 20px;
    background: #fff;
    border-radius: 1000px;
    color: #30b868;
    font-weight: 600;
}

.hero-actions {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn-primary,
.btn-outline {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background: #30b868;
    color: #fff;
}

.btn-outline {
    border: 2px solid #fff;
    color: #fff;
}

.problem-section {
    text-align: center;
    padding: 80px 0;
}

.problem-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

.problem-card {
    width: 300px;
    padding: 40px 20px;
    background: #f5f5f5;
    border-radius: 6px;
}
.icon-circle {
    width: 50px;
    height: 50px;
    background: #F95555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.solution {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0;
}

.solution-tag {
    color: #30b868;
    font-weight: 600;
}

.feature {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.cta-box {
    background: #f7f6f2;
    text-align: center;
    padding: 80px;
    border-radius: 12px;
    max-width: 1200px;
    margin: 0 auto 80px;
}

.spacer {
    margin-top: 16px;
    margin-bottom: 16px;
}

footer {
    background: #10303f;
    color: #fff;
    padding: 80px 120px 30px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.socials {
    display: flex;
    gap: 16px;
}

footer hr {
    margin: 40px 0 20px;
    border: none;
    border-top: 1px solid #4a4a5a;
}

.copyright {
    text-align: center;
    font-size: 13px;
}
